* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: "Arial, sans-serif";
  color: #6e6e6e;
}

h2 {
  text-align: center;
  color: #21955e;
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  color: #21955e;
  font-size: 24px;
  line-height: 1.2;
}

p {
  color: #939393;
  line-height: 1.5;
  font-size: 18px;
}

/* Header */
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

.site-header-logo {
  width: 15rem;
  height: auto;
}

/* Hero Banner */
.hero-banner {
  width: 100%;
  aspect-ratio: 3/2;
  position: relative;
}
.hero-banner .trapezoid {
  display: none; /* Hidden on mobile */
}
.hero-banner .hero-image {
  width: 100%;
  height: 100%;
  background: url("../assets/mobile-main-image.png") center/cover no-repeat;
}

/* Main Content Wrapper */
.page-content {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
@media (min-width: 1024px) {
  .page-content {
    margin-left: 24px;
    margin-right: 24px;
  }
}

/* Investment Section */
.investment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

.title_underline {
  width: 100px;
  height: 2px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #21955e;
}

.careers_button {
  background-color: #e97300;
  font-size: 24px;
  width: auto;
  padding: 8px 16px;
  border: none;
  color: #ffffff;
  margin-top: 56px;
  cursor: pointer;
}

/* Advantages Section */
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.advantages_item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.advantages_title {
  padding-bottom: 16px;
}

.grey_divider {
  width: 100%;
  height: 1px;
  background-color: #939393;
}

.learn-more {
  color: #97b16e;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}
.learn-more:hover {
  text-decoration: underline;
}
.learn-more::after {
  content: ">";
  font-weight: lighter;
  font-size: 1em;
  margin-left: 0.2em;
  vertical-align: center;
}

/* Home Loans Section */
.home-loans {
  background-color: #ebf7f5;
}

.home_loans_title {
  background-color: #21955e;
  color: #ffffff;
  text-align: center;
  padding: 16px 24px;
}

.home_loans_description {
  padding: 24px 16px;
}

/* Testimonials Section */
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  margin-bottom: 56px;
}

.testimonial-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
}

.testimonials_image {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 16px;
}

.testimonials_text {
  font-style: italic;
  color: #6e6e6e;
  margin-bottom: 8px;
  padding-right: 4rem;
  padding-left: 4rem;
  background-image: url("../assets/qoute.png");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 25% 0;
}

.testimonials_author {
  padding-right: 20%;
  padding-left: 20%;
  color: #21955e;
}

/* Footer */
.site-footer {
  padding: 24px 0;
  gap: 24px;
  border-top: 1px solid #21955e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
}

.footer_text {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 0.8rem;
  line-height: 16px;
  color: #6e6e6e;
}
@media (min-width: 1024px) {
  .footer_text {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.socials {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}
@media (min-width: 1024px) {
  .socials {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.socials-logo {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.footer_link {
  color: #6e6e6e;
}

.privacy {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 0.8rem;
  color: #6e6e6e;
}
@media (min-width: 1024px) {
  .privacy {
    margin-left: 24px;
    margin-right: 24px;
  }
}

/* Media Queries Section */
@media (min-width: 768px) and (max-width: 1024px) {
  .site-header {
    justify-content: flex-start;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 16px;
  }
  .site-header-logo {
    width: 20rem;
  }
  .hero-banner {
    display: block;
    height: 33.3333333333vw;
    position: relative;
  }
  .hero-banner .trapezoid {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 50%;
    height: 100%;
    background-color: rgba(43, 113, 91, 0.8);
    z-index: 10;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  }
  .hero-banner .hero-image {
    width: 100%;
    height: 100%;
    background: url("../assets/main-image.png") center/cover no-repeat;
  }
  .testimonials {
    margin: 0 168px 56px 168px;
  }
}
@media (min-width: 1024px) {
  .site-header {
    justify-content: flex-start;
    margin-top: 56px;
    margin-bottom: 56px;
    margin-left: 36px;
  }
  .site-header-logo {
    width: 20rem;
  }
  .hero-banner {
    display: block;
    height: 33.3333333333vw;
    position: relative;
  }
  .hero-banner .trapezoid {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 50%;
    height: 100%;
    background-color: rgba(43, 113, 91, 0.8);
    z-index: 10;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  }
  .hero-banner .hero-image {
    width: 100%;
    height: 100%;
    background: url("../assets/main-image.png") center/cover no-repeat;
  }
  .advantages_list {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 96px 48px;
  }
  .advantages_list .grey_divider {
    width: 1px;
    height: 120px;
    background-color: #939393;
    margin: auto 0;
  }
  .advantages_list .grey_divider:nth-of-type(4) {
    display: none;
  }
  .advantages_list .advantages_item {
    width: calc((100% - 96px - 1px) / 2);
    padding: 0;
  }
  .home_loans_description {
    padding: 24px 56px;
  }
  .testimonials {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0 56px 56px 56px;
  }
  .testimonial-cards {
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 0 16px;
    max-width: 40%;
  }
  .testimonials_image {
    width: auto;
    height: 11rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .testimonials_text {
    padding: 0 8px;
    margin-bottom: 8px;
    background-position: top left;
  }
  .testimonials_author {
    padding: 0 8px;
    margin: auto 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */