@mixin flex-container($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin horizontal-margin {
  margin-left: $space-sm; // mobile: 24px
  margin-right: $space-sm;

  @media (min-width: $break-point-lg) {
    margin-left: $space-md; // desktop: 36px
    margin-right: $space-md;
  }
}
