$font-family: "Arial, sans-serif";

// Typography Scale
$heading-text: 32px;
$sub-heading-text: 24px;
$para-text: 16px;

// Color Palette
$primary-green: #21955e;
$primary-orange: #e97300;
$primary-black: #6e6e6e;
$primary-white: #ffffff;
$text-grey: #939393;

$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 36px;
$space-xl: 48px;
$space-xxl: 64px;
$space-3xl: 56px;

$divider-height: 120px;

$break-point-sm: 576px;
$break-point-md: 768px;
$break-point-lg: 1024px;
