
$font-family: 'Arial, sans-serif';
$heading-text: 2rem;
$sub-heading-text: 1.5rem;
$para-text: 1rem;
$section-padding: 3.375rem;
$section-padding-bottom: 1.5rem;
$horizontal-padding:2rem; 
$gap: 2rem; 
$primary-green: #21955e;
$primary-orange: #e97300;
$primary-black: #6e6e6e;
$primary-white: #ffffff;
$text-grey: #939393;