
$font-family: 'Arial, sans-serif';
$primary-green: #21955e;
$primary-orange: #e97300;
$primary-white: #ffffff;
$text-grey: #939393;
$primary-padding: 24px;
$section-padding: 40px;
$horizontal-padding: 18px;